<div class="intro-screen container">
  <div class="wrapper">
    <div class="h1-side">
      <h1>Дитяча школа <br>програмування</h1>
      <p>
        <strong>Подаруйте</strong> дитині навички, <br>які відкривають двері в майбутнє!
        <br>Запишіть її на перше <strong>безкоштовне</strong><br>заняття вже <strong>сьогодні</strong>.
      <p>
      <a href="#courses">Обрати курс</a>&nbsp;<a href="#courses">Обрати курс</a>
    </div>

    <div class="figure-side">
      <img alt="" src="static/images/common/fs-figure.svg">
      <p><b>Відкриваємо дітям світ IT!</b>
        <br>Основи алгоритмів, роботи,
        <br>«розумнмі» пристрої та 
        <br>програмування ігор на
        <br>популярних JavaScript і Python —  
        <br>цікаво, без нудних підручників!
      </p>
    </div>
  </div>
</div>
