<div class="intro-screen container">
  <div class="wrapper">
    <div class="h1-side">
      <h1>Дитяча школа <br>програмування</h1>
      <p>Подаруйте дитині сучасні навички, <br>які відкривають двері в майбутнє!<p>
      <p>Перший  урок будь-якого курсу <br><strong>безкоштовний!</strong></p>
      <a href="#courses">Обрати курс</a>
    </div>

    <div class="figure-side">
      <img alt="" src="static/images/common/fs-figure.svg">
      <p><b>Відкриваємо дітям світ IT!</b>
        <br>Основи алгоритмів, керування роботами
        <br>та «розумними» пристроями, 
        <br>популярні JavaScript і Python —  
        <br>цікаво, без нудних підручників!
      </p>
    </div>
  </div>
</div>
