<div class="intro-screen container">
  <div class="wrapper">
    <div class="h1-side">
      <h1>Дитяча школа <br>програмування</h1>
      <p>Перший  урок будь-якого курсу <br><strong>безкоштовний!</strong></p>
      <a href="#courses">Обрати курс</a>
    </div>

    <div class="figure-side">
      <img alt="" src="static/images/common/fs-figure.svg">
      <p><b>Відкриваємо дітям світ IT!</b>
        <br>Вивчаємо основи алгоритмів, 
        <br>керуємо роботами та мікроконтролерами, 
        <br>занурюємося в світ «розумних» пристроїв (IoT). 
        <br>Працюємо з популярними мовами — 
        <br>JavaScript і Python — цікаво, 
        <br>без нудних підручників!
      </p>
    </div>
  </div>
</div>
