<header class="header">
  <div class="wrapper">
    <a class="logo">
      <img class="logo__figure" alt="" src="/static/images/common/logo-figure.svg">
      <img class="logo__text" alt="" src="/static/images/common/logo-text.svg">
    </a>

    <nav class="nav-top">
      <a class="nav-top__link" href="/#about-school">Про школу</a>
      <a class="nav-top__link" href="/#courses">Курси та набір</a>
      <a class="nav-top__link" href="/#contacts">Контакти</a>
    </nav>

    <div class="s-action">
      <a href="#">Записати!</a>
    </div>
    <div class="mobile-nav-switcher"></div>
  </div>
</header>

<div class="mobile-menu">
  <a class="mobile-menu-item" href="#about-school">Про школу</a>
  <a class="mobile-menu-item" href="#courses">Курси та набір</a>
  <a class="mobile-menu-item" href="#contacts">Контакти</a>
  <a class="mobile-menu-link" href="#">
    <img alt="" src="/static/images/common/telegram.svg">
  </a>
</div>
