<div class="menthors">
  <h2>Ментори</h2>

  <div class="menthors-item">
    <figure>
      <img alt="" src="static/images/common/menthor.jpg">
    </figure>
    <span class="menthors-item__name">Jane Cooper</span>
    <span class="menthors-item__type">Fullstack developer / Mentor</span>
  </div>

  <div class="menthors-item">
    <figure>
      <img alt="" src="static/images/common/menthor.jpg">
    </figure>
    <span class="menthors-item__name">Jane Cooper</span>
    <span class="menthors-item__type">Fullstack developer / Mentor</span>
  </div>

  <div class="menthors-item">
    <figure>
      <img alt="" src="static/images/common/menthor.jpg">
    </figure>
    <span class="menthors-item__name">Jane Cooper</span>
    <span class="menthors-item__type">Fullstack developer / Mentor</span>
  </div>

</div>
