<div class="default-backdrop" id="firstPopupBackdrop"></div>
    <div class="default-popup first-popup">
      <div class="default-popup__header">
        <img class="default-popup__icon" alt="" src="/static/images/common/logo-figure.svg">
        <p class="default-popup__title">
          Реєстрація
        </p>
        <div class="default-popup__close">
          <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="23.9996" cy="24.0001" r="23.3345" fill="#333333"/>
            <rect opacity="0.9" x="17.6914" y="28.2285" width="14.8944" height="2.97888" transform="rotate(-45.1434 17.6914 28.2285)" fill="#F2F2F2"/>
            <rect x="19.7715" y="17.6914" width="14.8944" height="2.97888" transform="rotate(44.8566 19.7715 17.6914)" fill="#F2F2F2"/>
          </svg>
        </div>
      </div>
      <form name="subscribe" class="default-popup__body" netlify>
        <p class="default-popup__title">
          Реєстрація
        </p>
        <p class="default-popup__text">
          Набір в групи триває постійно. Навчання стартує по мірі комплектації груп (7-10 учнів). Приєднатися до групи можна протягом перших п'яти занять.<br>
          <br>Перший Урок курсу <span class="pop-course">{{ page.title }}</span> <strong>БЕЗКОШТОВНИЙ!</strong><br>
          <br><span class="pop-price">Вартість курсу {{ page.price }} грн на місяць.</span><br>
        </p>
        <span class="default-popup__warn">
          Заповніть будь-ласка поля форми!
        </span>
        <input type="text" class="default-input" placeholder="Ім'я" required>
        <input class="default-input" placeholder="Номер телефону" required pattern="(068|067|066|050|073|063|093|077)\s?\d{3}\s?\d{2}\s?\d{2}">
        <input type="submit" class="default-button" value="зареєструватися">
      </form>
    </div>
