<div id="stats" class="statistics container">
  <img class="statistics-figure" alt="" src="static/images/common/group-vector.png">
  <img class="statistics-tablet-figure" alt="" src="static/images/common/stats-fig.svg">
  <div class="wrapper">
    <h2></h2>
    <div class="statistics-inner">

      <div class="statistics-inner__item">
        <div class="num">{{ site.data.statistics.lessons }}</div>
        <div class="text">Проведено  практичних <br>занять</div>
      </div>

      <div class="statistics-inner__item">
        <div class="num">{{ site.data.statistics.groups }}</div>
        <div class="text">Набрано груп на різні <br>IT напрямки</div>
      </div>

      <div class="statistics-inner__item">
        <div class="num">{{ site.data.statistics.students }}</div>
        <div class="text">Учнів пройшли курс <br>в IT-школі «Лінк»</div>
      </div>
    </div>
  </div>
</div>
