<div id="stats" class="statistics container">
  <img class="statistics-figure" alt="" src="static/images/common/group-vector.png">
  <img class="statistics-tablet-figure" alt="" src="static/images/common/stats-fig.svg">
  <div class="wrapper">
    <h2></h2>
    <div class="statistics-inner">
      {% for item in site.statistics %}
      <div class="statistics-inner__item">
        <div class="num">{{ item.value }}+</div>
        <div class="text">{{ item.title }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
